
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Bye..</h1>
    <p>You have logut the session successfully</p>

    <p> <a href="https://localhost:44335/Home/Index">Login</a>.</p>
</div>

